<div class="col-12 col-lg-4 mb-3 mb-lg-0" style="height: 25vh;">
    <a role="button" class="card-box" data-bs-toggle="modal" data-bs-target="#{{nameId}}">

        <img class="img-fluid" src="assets/images/icons/{{nameId}}.png" alt="">
        <div class="card-box-caption">
            <div class="description-head">
                {{type}}
            </div>
            <div class="description-body {{nameId}}">
                {{nameShow}}
            </div>
        </div>
    </a>
</div>