
<div class="row justify-content-center text-center">

    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-bordered text-light">
                <thead class="align-middle" style="background-color: rgba(69, 69, 69, 0.251);">
                    <tr>
                        <th class="fs-custom" scope="col">Where</th>
                        <th class="fs-custom" scope="col">Date</th>
                        <th class="fs-custom" scope="col">Who?</th>
                        <th class="fs-custom" scope="col">Info</th>
                        <th class="fs-custom" scope="col">Value</th>
                        <th class="fs-custom" scope="col">Type</th>
                        <th class="fs-custom" scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {{#each allBills}}
                        <tr>
                            <td class="fs-custom">{{accountNameShow}}</td>
                            <td class="fs-custom">{{date}}</td>
                            <td class="fs-custom">{{debtorNameShow}}</td>
                            <td class="info fs-custom">{{info}}</td>
                            <td class="{{valueAux}} fs-custom"><span class="valueToHide d-none">{{value}}</span></td>
                            <td>
                                {{#if (isDebit type)}}
                                    <i class="fas fa-check fs-custom" data-bs-toggle="tooltip" title="Debit"></i>
                                {{else}}
                                    <i class="far fa-credit-card fs-custom" data-bs-toggle="tooltip" title="Credit"></i>
                                {{/if}}
                            </td>
                            <td>
                                <a role="button" data-bs-toggle="tooltip" title="Update" onclick="prepareToUpdate('{{_id}}')"><i class="far fa-edit fs-custom"></i></a>
                            </td>
                            <td>
                                <a role="button" data-bs-toggle="tooltip" title="Delete" onclick="prepareToDelete('{{_id}}', this)"><i class="far fa-trash-alt fs-custom"></i></a>
                            </td>
                        </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>