
<div class="container-fluid h-100">

    <div class="row justify-content-center text-center text-white py-3">

        <h1 class="text-light mb-3">Fixed Bills</h1>

        <div class="col-6 col-lg-2">
            <div class="form-floating mb-2 mb-lg-3">
                <select class="form-select form-custom" id="selectYear" onchange="updateTable()">
                    <option value="all" selected>All</option>

                    {{#each allYears}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    
                </select>
                <label for="selectYear">Year</label>
            </div>
        </div>

        <div class="col-6 col-lg-2">
            <div class="form-floating mb-2 mb-lg-3">
                <select class="form-select form-custom" id="selectBill" onchange="updateTable()">
                    <option value="all" selected>All</option>

                    {{#each allServices}}
                        <option value="{{_id}}">{{nameShow}}</option>
                    {{/each}}


                </select>
                <label for="selectBill">Bill</label>
            </div>
        </div>

        <div class="col-6 col-lg-2">
            <div class="form-floating mb-2 mb-lg-3">
                <select class="form-select form-custom" id="selectState" onchange="updateTable()">
                    <option value="all" selected>All</option>
                    <option value="late">Late</option>
                    <option value="paid">Paid</option>
                    <option value="future">Future</option>
                </select>
                <label for="selectState">State</label>
            </div>
        </div>

        <div class="col-6 col-lg-1 mb-2 mb-lg-3">
            <button class="btn btn-outline-light bg-dark-custom w-100 h-100 align-self-center" onclick="clearFields()">Clear</button>
        </div>

        <div class="w-100"></div>


        <input type="radio" class="btn-check" style="width: 0;" name="months" id="all" value="all" autocomplete="off" onchange="updateTable()" checked>
        <label class="btn btn-outline-light bg-dark-custom col-1 rounded-0 d-flex justify-content-center align-items-center" for="all"><p class="m-0 text-rotate">All</p></label>

        <div class="col-11 col-lg-10 row justify-content-center">


{{!-- 
        <input type="radio" class="btn-check" style="width: 0;" name="months" id="All" value="all" autocomplete="off" onchange="updateTable()" checked>
        <label class="btn btn-outline-light bg-dark-custom col-3 col-sm-1 rounded-0" for="All">All</label>

        <div class="w-100 d-block d-sm-none"></div>

        <div class="col-11 row justify-content-center">
 --}}

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="jan" value="jan" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="jan">Jan</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="feb" value="feb" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="feb">Feb</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="mar" value="mar" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="mar">Mar</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="apr" value="apr" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="apr">Apr</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="may" value="may" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="may">May</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="jun" value="jun" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="jun">Jun</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="jul" value="jul" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="jul">Jul</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="aug" value="aug" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="aug">Aug</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="sep" value="sep" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="sep">Sep</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="oct" value="oct" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="oct">Oct</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="nov" value="nov" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="nov">Nov</label>

            <input type="radio" class="btn-check" style="width: 0;" name="months" id="dec" value="dec" autocomplete="off" onchange="updateTable()">
            <label class="btn btn-outline-light bg-dark-custom col-3 col-lg-1 rounded-0" for="dec">Dec</label>


        </div>

        <div class="col-12 col-lg-11 mt-3">
            <div class="table-responsive">
                <table class="table table-sm table-bordered text-light">
                    <thead class="align-middle" style="background-color: rgba(69, 69, 69, 0.251);">
                        <tr>
                            <th scope="col">DueDate</th>
                            <th scope="col">PaidDate</th>
                            <th scope="col">Service</th>
                            <th scope="col" style="width: 50%;">Obs</th>
                            <th scope="col">Value</th>
                            <th scope="col" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody id="tableBody" class="align-middle" style="background-color: rgba(0, 0, 0, 0.5);">

                        {{#each allFixeds}}

                            <tr id="{{_id}}" class="all {{situation}} {{serviceId}} {{year}} {{month}}">
                                <td>{{dueDate}}</td>
                                <td>{{paidDate}}</td>
                                <td>{{serviceNameShow}}</td>
                                <td>{{obs}}</td>
                                <td>{{value}}</td>
                                <td>
                                    <a role="button" data-bs-toggle="tooltip" title="Update" onclick="prepareToUpdate('{{_id}}')"><i class="far fa-edit"></i></a>
                                </td>
                                <td>
                                    <a role="button" data-bs-toggle="tooltip" title="Delete" onclick="prepareToDelete('{{_id}}')"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>

                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>


<div class="modal fade" id="modalUpdate" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title text-center">Update Fixed Bill</h3>

                <div style="right: 2%; z-index: 10" class="position-absolute">
                    <a role="button" class="link-light" data-bs-dismiss="modal">
                        <i class="fas fa-times align-middle h3 m-0"></i>
                    </a>
                </div>
            </div>

            <div class="modal-body">
                
                <div class="row justify-content-center text-center">

                    <input name="idFixed" id="idFixed" class="d-none" disabled>

                    <div class="col-lg-7">
                        <div class="form-floating mb-3">
                            <input name="serviceFixed" type="text" class="form-control form-custom" id="serviceFixed" placeholder="Example" disabled>
                            <label for="serviceFixed">Service</label>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-floating mb-3">
                            <select name="situationFixed" class="form-select form-custom" id="situationFixed" onchange="situationChanged(this.value)">

                                <option value="late">Late</option>
                                <option value="paid">Paid</option>
                                <option value="future">Future</option>

                            </select>
                            <label for="situationFixed">Situation</label>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-floating mb-3">
                            <input name="dueDateFixed" type="date" class="form-control form-custom" id="dueDateFixed" placeholder="Example">
                            <label for="dueDateFixed">DueDate</label>
                            <div class="invalid-feedback">
                                DueDate Empty.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-floating mb-3">
                            <input name="paidDateFixed" type="date" class="form-control form-custom" id="paidDateFixed" placeholder="Example" disabled>
                            <label for="paidDateFixed">PaidDate</label>
                            <div class="invalid-feedback">
                                PaidDate Empty.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-floating mb-3">
                            <textarea name="obsFixed" class="form-control form-custom" id="obsFixed" placeholder="Example"></textarea>
                            <label for="obsFixed">Obs</label>
                            <div class="invalid-feedback">
                                Obs Empty.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-floating mb-3">
                            <input name="valueFixed" type="number" class="form-control form-custom" id="valueFixed" step="0.01" placeholder="Example">
                            <label for="valueFixed">Value</label>
                            <div class="invalid-feedback">
                                Value Empty.
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-floating mb-3">
                            <input name="receiptFixed" type="text" class="form-control form-custom" id="receiptFixed" placeholder="Example" disabled>
                            <label for="receiptFixed">Receipt</label>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-3 mb-lg-0">
                        <button class="btn btn-danger w-100 h-100" data-bs-dismiss="modal">Cancel</button>
                    </div>

                    <div class="col-lg-3">
                        <button class="btn btn-light w-100 h-100" onclick="saveButton()">Save</button>
                    </div>

{{!-- 

                    <div class="col-lg-4">
                        <div class="form-floating mb-3">
                            <select name="accountId" class="form-select form-custom" id="selectAccount" disabled>
                                <option value="" selected>[Select]</option>

                                {{#each onlyAccounts}}
                                    <option value="{{_id}}">{{nameShow}}</option>
                                {{/each}}

                            </select>
                            <label for="selectAccount">Account</label>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-floating mb-3">
                            <input name="dateInput" type="date" class="form-control form-custom" id="inputDate" placeholder="Example">
                            <label for="inputDate">Date</label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-floating mb-3">
                            <select name="type" class="form-select form-custom" id="selectType">
                                <option value="debit" selected>Debit</option>
                                <option value="credit">Credit</option>
                            </select>
                            <label for="selectType">Type</label>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="form-floating mb-3">
                            <input name="obs" type="text" class="form-control form-custom" id="inputObs" placeholder="Example">
                            <label for="inputObs">Obs</label>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-floating mb-3">
                            <select name="fate" class="form-select form-custom" id="selectFate" onchange="changeFate(this.value)">
                                <option value="" selected>Bill</option>

                                {{#each onlyAccounts}}
                                    <option value="{{_id}}">{{nameShow}}</option>
                                {{/each}}
                            </select>
                            <label for="selectFate">Fate</label>
                        </div>
                    </div>

                    <div class="col-12 border-top border-bottom border-light divWho">
                        <div class="row justify-content-center text-center my-2">
                            <div class="col-lg-6">
                                <div class="form-floating mb-2 mb-lg-0">
                                    <select class="form-select form-custom selectWho" id="selectWho">
                                        <option value="" selected>[Select]</option>

                                        {{#each allDebtors}}
                                            <option value="{{_id}}">{{nameShow}}</option>
                                        {{/each}}
                                    </select>
                                    <label for="selectWho">Who</label>
                                </div>
                            </div>
                            <div class="col-9 col-lg-4">
                                <div class="form-floating">
                                    <input type="number" class="form-control form-custom inputValueWho" id="inputValueWho" step="0.01" placeholder="Example" onchange="changeValueWho()">
                                    <label for="inputValueWho">Value</label>
                                </div>
                            </div>
                            <div class="col-3 col-lg-2">
                                <button id="addElementWho" class="btn btn-outline-light w-100 h-100" onclick="addElementWho(this)" data-bs-toggle="tooltip" title="Add Who"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>

                    <div id="newWho" class="row justify-content-center text-center">

                    </div>

                    <div class="col-9 col-lg-8 mt-3">
                        <div class="form-floating">
                            <input type="number" class="form-control form-custom" id="inputValueTotal" step="0.01" placeholder="Example" onchange="changeValueTotal()">
                            <label for="inputValueTotal">Value Total</label>
                        </div>
                    </div>

                    <div class="col-3 col-lg-4 mt-3">
                        <button class="btn btn-light w-100 h-100" id="buttonSave" onclick="saveButton()">Save</button>
                    </div> --}}

                </div>
                

            </div>
        </div>
    </div>
</div>

<!-- JS-->
<script src="js/fixedBills.js"></script>
